.sider-content {
  width: 90%;
  height: 90%;
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.sider-content div {
  margin: 0 auto;
}

.sider-main-links {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.sider-main-links button {
  color: white;
  margin-top: 5px;
}
